h1 {
  text-align: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.body {
  background-image: url(https://static.wikitide.net/battlecatswiki/d/d4/Map049_00.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.game-review {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    gap: 20px; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding-left: 20px;

}
.media-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.video {
  margin-top: 70px;
}
.game-logo {
  align-self: flex-start;
  color: white;
  
}
.game-description {
  color: white;
}

.review {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
  border: 3px solid burlywood;
  color: white;
}
