h1 {
  text-align: center;
}

.header {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.body {
  background-image: url(https://static.wikitide.net/battlecatswiki/d/d4/Map049_00.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}